<%= form_for [@trade, @participant] do |f| %>
  <% if @participant.user == current_user %>
    <h2>update shipping info</h2>

    <div class="form-row">
      <%= f.label :shipping_info %>
      <%= f.text_field :shipping_info %>
    </div>
  <% else %>
    <% if current_user && current_user.moderator? && !@trade.participant(current_user) %>
      <h2>approve or modify this feedback for <%= @participant.user %></h2>
    <% else %>
      <h2>provide feedback for <%= @participant.user %></h2>
    <% end %>

    <div class="form-row">
      <%= f.radio_button :feedback_type, 'positive', checked: true %>
      <%= f.label :feedback_type, 'positive', value: 'positive' %>

      <%= f.radio_button :feedback_type, 'neutral' %>
      <%= f.label :feedback_type, 'neutral', value: 'neutral' %>

      <%= f.radio_button :feedback_type, 'negative' %>
      <%= f.label :feedback_type, 'negative', value: 'negative' %>
    </div>

    <div class="form-row">
      <%= f.label :feedback %>
      <%= f.text_area :feedback, maxlength: 1000 %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "submit" %>
  </div>
<% end %>
