<div class="row-fluid">
  <div class="col-md-8">
    <h1><%= @user %></h1>

    <% unless @notifications.empty? %>
      <div class="bordered alert alert-info fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

        <h2>notifications</h2>
        
        <ul class="notifications-list">
          <% @notifications.each do |notification| %>
            <%= render notification %>
          <% end %>
        </ul>

        <%= paginate @notifications, param_name: :notification_page %>
      </div>
    <% end %>
  </div>

  <%= render partial: "reputation", locals: {user: @user} %>
</div>

<div class="clearfix"></div>

<%= render partial: "trades/trade_list", locals: {trades: @pending, type: "pending", pagination_param: :pending_page} %>

<%= render partial: "trades/trade_list", locals: {trades: @completed, type: "completed", pagination_param: :completed_page} %>
