<%= render "navigation", active: :add_trade %>

<h2>add a trade</h2>


<%= form_for Trade.new do |f| %>
  <div class="form-group">
    <%= f.label :agreement, "what did they agree to trade?", class: "control-label" %>
    <%= f.text_field :agreement, placeholder: "(optional)", class: "form-control" %>
  </div>


  <h3>reddit user and the feedback they gave</h3>

  <%= fields_for User.new do |u| %>
    <div class="form-group has-feedback">
      <%= u.label :username, "username:", class: "control-label" %>
      <%= render "users/reddit_user_search", {username_field: "user[username]", hide_validation: true} %>
    </div>
  <% end %>

  <%= fields_for Participant.new do |p| %>
    <div class="form-group">
      <%= p.radio_button :feedback_type, 'positive', checked: true %>
      <%= p.label :feedback_type, 'positive', value: 'positive' %>

      <%= p.radio_button :feedback_type, 'neutral' %>
      <%= p.label :feedback_type, 'neutral', value: 'neutral' %>

      <%= p.radio_button :feedback_type, 'negative' %>
      <%= p.label :feedback_type, 'negative', value: 'negative' %>
    </div>

    <div class="form-group">
      <%= p.label :feedback, "feedback", class: "control-label" %>
      <%= p.text_area :feedback, maxlength: 1000, class: "form-control" %>
    </div>
  <% end %>



  <h3>other reddit user and the feedback they gave</h3>

  <%= fields_for :other_user, User.new do |u| %>
    <div class="form-group has-feedback">
      <%= u.label :username, "username:", class: "control-label" %>
      <%= render "users/reddit_user_search", {username_field: "other_user[username]", hide_validation: true} %>
    </div>
  <% end %>

  <%= fields_for :other_participant, Participant.new do |p| %>
    <div class="form-group">
      <%= p.radio_button :feedback_type, 'positive', checked: true %>
      <%= p.label :feedback_type, 'positive', value: 'positive' %>

      <%= p.radio_button :feedback_type, 'neutral' %>
      <%= p.label :feedback_type, 'neutral', value: 'neutral' %>

      <%= p.radio_button :feedback_type, 'negative' %>
      <%= p.label :feedback_type, 'negative', value: 'negative' %>
    </div>

    <div class="form-group">
      <%= p.label :feedback, "feedback", class: "control-label" %>
      <%= p.text_area :feedback, maxlength: 1000, class: "form-control" %>
    </div>
  <% end %>


  <%= f.submit "add trade", class: "btn btn-primary" %>
<% end %>
