<%= render partial: "navigation", locals: {active: :change_username} %>

<h2>change username</h2>

<p>this will carry over the trades from the old username to the new one. note that this will remove the trades from the old user</p>

<%= form_for(User.new) do |f| %>
  <div class="form-group has-feedback">
    <%= f.label :username, "old reddit username:", class: "control-label" %>
    <%= render "users/reddit_user_search", {username_field: "user[username]", hide_validation: true} %>
  </div>

  <div class="reddit-username-input form-group has-feedback">
    <%= f.label :new_username, "new reddit username:", class: "control-label" %>
    <%= render "users/reddit_user_search", {username_field: "user[new_username]"} %>
  </div>

  <%= f.submit "import trades", class: "btn btn-primary" %>
<% end %>
