<%= form_for(@trade) do |f| %>
  <div class="form-row">
    <%= f.label :participant_username, "Who are you trading with? (reddit username)" %>
    <%= text_field_tag :participant_username %>
  </div>

  <div class="form-row">
    <%= f.label :agreement, "What did you agree to trade?" %>
    <%= f.text_field :agreement %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
