<%- show_search = local_assigns[:show_search] || false %>

<% if trades.any? || show_search %>
  <article>
    <div class="row">
      <h2><%= type %> trades</h2>
    </div>

    <% if show_search %>
      <%= render partial: "trades/search" %>
    <% end %>

    <% if trades && !trades.empty? %>
      <div class="row">
        <ul class="trades-list">
          <% trades.each do |trade| %>
            <li>
              <%= link_to trade.participants.first.user, user_path(trade.participants.first.user) %>
              and
              <%= link_to trade.participants.second.user, user_path(trade.participants.second.user) %>:

              <%= feedback_text(trade.lowest_feedback, "positive") do %>
                <%= link_to truncate(trade.to_s, separator: ' ', length: 75), trade_path(trade) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="row text-center">
        <%= paginate trades, param_name: pagination_param %>
      </div>
    <% elsif show_search %>
      <div class="row"><p>no search results for: <%= params[:q] %></p></div>
    <% end %>
  </article>
<% end %>
