<h2><%= @trade %></h2>


<% if @trade.completed? %>
  <ul>
    <% @trade.participants.each do |participant| %>
      <li class="<%= participant.feedback_type %>-participant">
        <%= participant.other_participant.user %> said: <%= participant.feedback %>
      </li>
    <% end %>
  </ul>
<% elsif !@trade.accepted? %>
  <h3>trade not yet accepted</h3>
<% else %>
  <h3>trade pending feedback</h3>
<% end %>
  

<% if @trade.has_shipping_info? && (@trade.participant(current_user) || current_user.try(:moderator?)) %>
  <div id="shipping-info">
    <h3>shipping info</h3>
    <ul>
      <% @trade.participants.each do |participant| %>
        <% if participant.shipping_info? %>
          <li>
            provided by <%= participant.user %>: <%= participant.shipping_info %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
  

<% if @trade.waiting_for_approval? current_user %>
  <div id="trade-approval">
    this trade is pending your approval.  please select Yes or No:

    <ul id="trade-yes-no">
      <li class="yes"><%= link_to "Yes", trade_participants_path(@trade), method: :post %></li>
      <li class="no"><%= link_to "No", trade_path(@trade), method: :delete %></li>
    </ul>
    <br style="clear: both;"/> <%# XXX ick %>
  </div>
<% elsif @trade.waiting_to_give_feedback? current_user %>
  <% participant = @trade.participant(current_user) %>

  <ul class="trade-actions">
    <li><%= link_to "update shipping info", edit_trade_participant_path(@trade, participant) %></li>
    <li><%= link_to "leave feedback and complete trade", edit_trade_participant_path(@trade, participant.other_participant) %></li>
  </ul>
  <br style="clear: both;"/> <%# XXX ick %>
<% end %>
