<h2><%= @trade %></h2>


<% if @trade.completed? %>
  <ul>
    <% @trade.participants.each do |participant| %>
      <li class="<%= participant.feedback_type %>-participant">
        <%= link_to participant.other_participant.user %> said: <%= participant.feedback %>
      </li>
    <% end %>
  </ul>
<% elsif !@trade.accepted? %>
  <h3>trade not yet accepted</h3>
<% else %>
  <h3>trade pending feedback</h3>
<% end %>
  

<% if @trade.has_shipping_info? && (@trade.participant(current_user) || current_user.try(:moderator?)) %>
  <div id="shipping-info">
    <h3>shipping info</h3>
    <ul>
      <% @trade.participants.each do |participant| %>
        <% if participant.shipping_info? %>
          <li>
            provided by <%= link_to participant.user %>: <%= link_to participant.shipping_info, shipping_info_url(participant.shipping_info) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
  

<% if @trade.waiting_for_approval? current_user %>
    this trade is pending your approval:

    <%= link_to "accept", trade_participants_path(@trade), method: :post, class: "btn btn-success btn-lg" %>
    <%= link_to "decline", trade_path(@trade), method: :delete, class: "btn btn-danger btn-lg" %>
<% elsif @trade.waiting_to_give_feedback? current_user %>
  <% participant = @trade.participant(current_user) %>

  <%= link_to "update shipping info", edit_trade_participant_path(@trade, participant), class: "btn btn-default" %>
  <%= link_to "leave feedback and complete trade", edit_trade_participant_path(@trade, participant.other_participant), class: "btn btn-default" %>
<% end %>

<% if current_user.try(:moderator?) %>
  <%= link_to "delete", trade_path(@trade), method: :delete, class: "btn btn-danger", data: {confirm: "are you sure?"} %>
<% end %>
