<h1><%= @trade %></h1>

<% if @trade.completed? %>
  <% @trade.participants.each do |participant| %>
    <%= participant.username %>: 
    <%= participant.feedback %>
    (<%= participamt.feedback_description %>)
  <% end %>
<% elsif @trade.waiting_for_approval?(current_user) %>
  <div id="trade-approval">
    This trade is pending your approval.  Please select Yes or No:

    <div id="trade-yes-no">
      <%= link_to "Yes", trade_participants_path(@trade), method: :post %>
      |
      <%= link_to "No", trade_path(@trade), method: :delete %>
    </div>
  </div>
<% elsif @trade.waiting_for_feedback?(current_user) %>
  <% participant = @trade.participants.find_by(user: current_user) %>
  <%= link_to "Update shipping info", edit_trade_participant_path(@trade, participant) %>
  |
  <%= link_to "Leave feedback and complete trade", edit_trade_participant_path(@trade, participant.other_participant) %>
<% end %>
